@font-face {
    font-family: 'FuenteKirby';
    src: url(assets/fuentes/kirbys.ttf) format('truetype');
}
h2, h3 {
    font-family: 'FuenteKirby', sans-serif;
    color:#fc71c2d2;
}
.titulo-kirby {
    font-family: 'FuenteKirby', sans-serif;
    color:#ffffff;
}
body {
    font-family: 'Arial, sans-serif';
    margin: 0;
    padding: 0;
    background-color: #f3b0d7c5; /*Fondo 1*/
    color: #000000; /*Color del texto*/
}


header {
    background-color: #fc92d08c; /*Color del menú*/
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff; /*Color de las secciones del menú*/
    text-decoration: none;
    font-weight: bold;
}


section {
    padding: 50px;
    max-width: 800px;
    margin: auto;
    background-color: #ffffff8c; /*Fondo 2*/
    border-radius: 10px;
    margin-top: 20px;
}

.barra-progreso {
    text-align: center;
    padding: 40px 20px;
    background-color: #ffffff00;
}
.barra-progreso img{
    width: 90%;
    max-width: 900px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    /*box-shadow: 0 4px 20px rgba(0, 0, 0, 0);*/
}
#disclaimer {
    
    text-align: center;
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.video-container iframe{
    width: 100%;
    height: 450px;
    max-width: 960px;

}

#For-fun {
    
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.logo {
    text-align: center;
    padding: 40px 20px;
    background-color: #ffffff00;
    margin-top: 10px;
    margin-bottom: 20px;
}
.logo img{
    width: 35%;
    max-width: 900px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    /*box-shadow: 0 4px 20px rgba(0, 0, 0, 0);*/
}
.titulo-kirby {
    text-align: center;
    margin: 20px 0;

}
.titulo-kirby img.titulo-kirby{
width: 20%;
max-width: 200px;
height: auto;
}
.grito-guerra {
    text-align: center;
    margin: 20px 0;
    font-family: 'FuenteKirby', sans-serif;
    color:#fc71c2d2;

}
.waddle-dee {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}